* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
h1 {
  font-size: 3rem;
  text-shadow: 8px 8px 18px rgb(34, 32, 32);
}
.card {
  /* border: inset 3px rgba(133, 127, 127, 0.479); */
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: white;
  border: inset 3px red;
  font-size: 5rem;
  /* text-shadow: 0 0 30px orange; */
  transform-style: preserve-3d; /* Añadido para preservar las transformaciones 3D */
  transition: transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.boca_arriba {
  /* transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg); 
  cursor: pointer;
  transition: transform 1.5s;
  animation: voltear 1.5s;
 */

  transform: rotateY(-180deg);
  transition: transform 1s;
}

@keyframes voltear {
  0% {
    transform: rotateY(0deg); /* Empieza con rotación 0 grados */
  }
  50% {
    transform: rotateY(
      180deg
    ); /* Llega a 180 grados a la mitad de la animación */
  }
  100% {
    transform: rotateY(0deg); /* Vuelve a 0 grados al final de la animación */
  }
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgb(226, 226, 202),
    rgb(193, 203, 43),
    rgb(121, 125, 69)
  );
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

#confetti {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}

.container_play {
  width: 440px;
  height: 440px;
  perspective: 1000px; /* Añadido para perspectiva 3D */
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2.5px;
}
